# Ignore all Terraform state & temp files
*.tfstate
*.tfstate.backup
.terraform/

# Ignore tfvars containing secrets
*.tfvars
*.tfvars.json

# Kubernetes config
.kube/
*.yaml~.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
