# Ignore all Terraform state & temp files
*.tfstate
*.tfstate.backup
.terraform/

*.tfvars
*.tfvars.json
*.env

.kube/
*.yaml~.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
